.filter-toolbar{
	color: white;
	padding-bottom: 10px;
	padding-left: 10px;
	background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.64));
}

.input{
	display: inline-block;
	min-width: 10%;
}

h1{
	margin: 0;
	padding-left: 10px;
	color: #E99800;
	padding-bottom: 10px;
}

.filter-checkbox{
}

.filter-checkbox:active, .filter-checkbox:checked:active {
}

.filter-checkbox:checked {
}